*.pyc
*.DS_Store
.idea/
extensions/config.php
extensions/config.ini
botqueue.tmproj
ssl-cert.pem
ssl-cert.int
ssl-cert.key
vendor/
composer.phar
/node_modules
.env*
storage/*
.phpstorm.meta.php
_ide_helper.php
